/* Reset de estilos base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(105, 105, 173);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding: 50px
}

/* Área de manutenção */
#manutencao {
    color: white;
    font-style: italic;
    max-width: 600px;
    display: block;
    margin-right: 30px;
}

#manutencao h1 {
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.700);
}

#manutencao ul {
    margin-top: 10px;
    margin-bottom: 15px;
}

#manutencao ul li {
    margin-top: 8px;
    margin-right: 20px;
}

/* Container principal */
.app-container {
    background-color: #fff;
    max-width: 400px;
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.700);
    padding: 20px;
    text-align: center;
}

/* Cabeçalho */
.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
    gap: 10px;
}

.logo img {
    width: 50px;
    height: auto;
}

.user-info {
    font-size: 14px;
    color: #777;
}

.balance-section {
    background-color: #d8d8d84f;
    padding: 15px;
    margin: 0 2% 20px 2%;
    border-radius: 8px;
    box-shadow: 1px 1px 10px #58585870;
}

/* Botão de Sair */
.sair {
    text-align: right;
}

#sairBtn {
    width: 12%;
    padding: 4px;
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Saldo */
.balance-section h2 {
    color: #555;
    font-size: 18px;
    margin-bottom: 5px;
}

.balance {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.balance h3 {
    font-size: 36px;
    font-weight: bold;
    color: #4CAF50;
    margin-bottom: 10px;
}

#extrato {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 12px;
    cursor: pointer;
}

#extrato p {
    font-size: 22px;
    margin-left: 10px;
}

#botoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 10px;
    margin-top: 10px;
}

input[type='button'] {
    background-color: #ccc;
    border-radius: 6px;
    padding: 5px 12px;
    cursor: pointer;
    font-size: 12px;
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Ações */
.actions {
    margin: 0 auto;
    max-width: 300px;
}

.action {
    margin-bottom: 20px;
    text-align: left;
}

input[type="number"] {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    background-color: #fafafa;
    margin-bottom: 10px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.depositar {
    width: 100%;
    padding: 14px;
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Mensagens */
.message {
    color: #e74c3c;
    font-weight: bold;
    margin-top: 20px;
}

/* Rodapé */
footer {
    text-align: center;
    font-style: italic;
    padding-top: 10px;
    font-size: 12px;
    font-weight: bold;
}

/* Responsividade */
@media (max-width: 480px) {
    .app-header {
        flex-direction: column;
        text-align: center;
    }

    input[type="button"] {
        flex: 1 1 100%;
        font-size: 14px;
        padding: 10px;
    }

    .action {
        text-align: center;
    }

    input[type="number"] {
        font-size: 14px;
    }

    button {
        font-size: 16px;
    }
}