* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Área de manutenção */
#manutencao {
    color: white;
    font-style: italic;
    max-width: 600px;
    display: block;
    margin: auto;
}

#manutencao h1 {
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.700);
}

#manutencao ul {
    margin-top: 10px;
    margin-bottom: 15px;
}

#manutencao ul li {
    margin-top: 8px;
    margin-right: 20px;
}

/* Cabeçalho */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.header .logo img {
    width: 50px;
    height: auto;
}

#user-info {
    color: #4CAF50;
    font-size: 20px;
    text-align: right;
    flex: 1;
    text-shadow: 2px 2px 10px #2e6d3177;
}

/* Campos de entrada */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: 0;
    box-shadow:  1px 1px 10px rgba(0, 0, 0, 0.200);
}

#senha {
    color: #4caf50;
    margin-top: 15px;
    text-align: left;
    font-weight: bold;
    text-shadow: 2px 2px 10px #2e6d3177;
}

input::placeholder {
    color: gray;
    font-style: italic;
}

/* Botão */
input[type="button"] {
    padding: 10px 24px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    width: 100%;
}

input[type="button"]:hover {
    background-color: #45a049;
}

/* Mensagens de erro */
#mensagemErro,
#senhaErro {
    color: #ff4d4d;
    margin-top: 10px;
    display: none;
    font-size: 14px;
}

/* Rodapé */
footer {
    padding-top: 20px;
}

/* Responsividade extra (opcional) */
@media (max-width: 400px) {
    #user-info {
        text-align: center;
        font-size: 18px;
    }

    .header {
        flex-direction: column;
        align-items: center;
    }
}

